
.navbar2 {
  width: 268px; 
  padding: 10px;
  height: 1000px;
  background-color: #005C71;
  color: #fff;
  margin-right: 1460px;
}

.content {
    padding-top: 30px;
    font-size: 30px;
    font-family: sans-serif;
    cursor: grab;
    margin-left: 70px;
}

